* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0; }

.modal-wrapper {
  position: fixed;
  z-index: 300;
  top: 0;
  left: 0;
  display: none;
  overflow: auto;
  width: 100%;
  height: 100%;
  background-color: rgba(51, 51, 51, 0.5); }
  .modal-wrapper--show {
    display: block; }

.blur-active {
  -webkit-filter: blur(10px);
          filter: blur(10px); }

.body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 1367px;
  height: 100vh;
  min-height: 758px;
  margin: 0 auto;
  font-family: Arial, Helvetica, sans-serif; }
  @media (max-width: 988px) {
    .body {
      overflow-x: hidden;
      height: 100%; } }
  .body--modal-open {
    overflow-y: hidden; }

.button {
  cursor: pointer;
  border: 0;
  border-radius: 20px;
  background-color: #f7f7f7;
  font-size: 13px;
  font-weight: bold; }

.slider-toggle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }
  @media (max-width: 414px) {
    .slider-toggle {
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-flex: 1;
          -ms-flex-positive: 1;
              flex-grow: 1; } }

.slider-toggle__field {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  height: 60px;
  border-radius: 30px; }
  .slider-toggle__field--temperature {
    background-image: -webkit-gradient(linear, left top, right top, color-stop(2%, #068fff), color-stop(51%, #ffd800), to(#f76b1c));
    background-image: linear-gradient(90deg, #068fff 2%, #ffd800 51%, #f76b1c 100%); }
    @media (max-width: 414px) {
      .slider-toggle__field--temperature {
        background-image: -webkit-gradient(linear, left bottom, left top, color-stop(2%, #068fff), color-stop(51%, #ffd800), to(#f76b1c));
        background-image: linear-gradient(0deg, #068fff 2%, #ffd800 51%, #f76b1c 100%); } }
  .slider-toggle__field--sun {
    background-image: linear-gradient(85deg, #ffe682 2%, #ff9e00 98%); }
    @media (max-width: 414px) {
      .slider-toggle__field--sun {
        background-image: -webkit-gradient(linear, left bottom, left top, color-stop(2%, #ffe682), color-stop(98%, #ff9e00));
        background-image: linear-gradient(0deg, #ffe682 2%, #ff9e00 98%); } }
  @media (max-width: 414px) {
    .slider-toggle__field {
      width: 60px;
      height: 100%; } }

.slider-toggle__control {
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 68px;
  height: 68px;
  cursor: pointer;
  border: 4px solid #fff;
  border-radius: 50%; }
  @media (max-width: 414px) {
    .slider-toggle__control {
      left: -4px; } }
  .slider-toggle__control::before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
    content: '';
    border: 3px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    background: none; }

.slider-toggle__range {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #fff;
  font-size: 18px;
  font-weight: bold; }
  @media (max-width: 414px) {
    .slider-toggle__range {
      -webkit-box-orient: vertical;
      -webkit-box-direction: reverse;
          -ms-flex-direction: column-reverse;
              flex-direction: column-reverse; } }

.slider-toggle__range-value {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 36px 36px;
  line-height: 36px; }
  .slider-toggle__range-value--min {
    position: relative;
    top: 6px;
    left: 12px;
    display: block;
    width: 46px;
    height: 46px; }
    @media (max-width: 414px) {
      .slider-toggle__range-value--min {
        top: 0;
        left: 6px; } }
  .slider-toggle__range-value--max {
    position: relative;
    top: 6px;
    display: block;
    width: 46px;
    height: 46px; }
    @media (max-width: 414px) {
      .slider-toggle__range-value--max {
        top: 12px;
        left: 6px; } }
  .slider-toggle__range-value--dark {
    top: 0;
    background-image: url("/image/icon_sun_min.svg"); }
    @media (max-width: 414px) {
      .slider-toggle__range-value--dark {
        top: -6px;
        left: 0; } }
  .slider-toggle__range-value--light {
    top: 0;
    right: 12px;
    background-image: url("/image/icon_sun_max.svg"); }
    @media (max-width: 414px) {
      .slider-toggle__range-value--light {
        top: 6px;
        right: 0;
        left: 0; } }

.slider-toggle__input {
  cursor: pointer; }

input[type=range] {
  position: absolute;
  top: 0;
  overflow: visible;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  color: transparent;
  border: 0 none;
  background: transparent;
  -webkit-appearance: none; }

@media (max-width: 414px) {
  input[type=range].slider-toggle__input {
    opacity: 0.01;
    /* needed to hide the default slider-vertical appearance */
    -webkit-appearance: slider-vertical;
    -webkit-writing-mode: bt-lr;
        -ms-writing-mode: bt-lr;
            writing-mode: bt-lr;
    /* IE */ } }

/* microsoft IE10+ and Edge - eliminates default fills before and after thumb */
input[type=range]::-ms-fill-lower {
  border: 0 none;
  background: transparent; }

input[type=range]::-ms-fill-upper {
  border: 0 none;
  background: transparent; }

input[type=range]::-ms-tooltip {
  display: none; }

input[type=range]::-ms-track {
  overflow: visible;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  color: transparent;
  border: 0 none;
  background: transparent;
  -webkit-appearance: none; }

input[type=range]::-moz-range-track {
  overflow: visible;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  color: transparent;
  border: 0 none;
  background: transparent;
  -moz-appearance: none; }

input[type=range]::-ms-thumb {
  width: 40px;
  height: 40px;
  border: 0 none;
  border-radius: 0;
  background: transparent; }

input[type=range]::-moz-range-thumb {
  width: 40px;
  height: 40px;
  border: 0 none;
  border-radius: 0;
  background: transparent; }

input[type=range]::-webkit-slider-thumb {
  width: 40px;
  height: 40px;
  border: 0 none;
  border-radius: 0;
  background: transparent;
  -webkit-appearance: none; }

input[type=range]:focus {
  outline: none; }

input[type=range]:focus::-webkit-slider-runnable-track {
  border: transparent;
  background: transparent; }

.circle-toggle {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.circle-toggle__thumb {
  position: absolute;
  z-index: 200;
  top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 178px;
  height: 178px;
  border-radius: 50%;
  -webkit-box-shadow: 0 2px 4px 0 rgba(134, 121, 71, 0.45);
          box-shadow: 0 2px 4px 0 rgba(134, 121, 71, 0.45); }

.circle-toggle__thumb-value {
  font-size: 66px;
  font-weight: bold; }

.circle-toggle__arrow {
  position: absolute;
  top: 4px;
  display: block;
  width: 178px;
  height: 178px;
  -webkit-transform: rotate(17deg);
          transform: rotate(17deg);
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  background-image: url("/image/icon_arrow-circle.svg");
  background-repeat: no-repeat;
  background-position: top;
  background-size: 10px 10px; }

.circle-toggle__progress {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg); }

.circle-toggle__meter,
.circle-toggle__value,
.circle-toggle__bg {
  fill: none; }

.circle-toggle__meter {
  stroke: #e6e6e6; }

.circle-toggle__value {
  stroke: #ffcd00;
  stroke-dasharray: 330.292;
  stroke-dashoffset: 298.577; }

.circle-toggle__bg {
  -webkit-transform: rotate(145deg);
          transform: rotate(145deg);
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  stroke: #fff;
  stroke-dasharray: 159.292 2222;
  stroke-dashoffset: 22%; }

.page-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  height: 92px;
  min-height: 92px;
  padding: 0 40px;
  -webkit-box-shadow: 0 1px rgba(0, 0, 0, 0.1);
          box-shadow: 0 1px rgba(0, 0, 0, 0.1); }
  @media (max-width: 768px) {
    .page-header {
      position: fixed;
      z-index: 200;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      width: calc(100% - 40px);
      margin: 0 20px;
      padding: 0;
      background-color: #fff;
      -webkit-box-shadow: 0 0;
              box-shadow: 0 0; } }
  @media (max-width: 414px) {
    .page-header {
      height: 68px;
      min-height: 68px; } }

.page-header__logo {
  width: 108px;
  height: 27px;
  background-image: url("/image/yandex_logo.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }

.page-header__nav {
  margin-left: 38px; }
  @media (max-width: 768px) {
    .page-header__nav {
      margin: 0; } }

.page-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin: 30px 40px;
  margin-bottom: 0; }
  @media (max-width: 768px) {
    .page-main {
      margin: 92px 20px 25px 20px; } }
  @media (max-width: 414px) {
    .page-main {
      margin: 68px 20px 0 20px; } }

.page-main__line-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 370px;
  margin-bottom: 36px; }
  @media (max-width: 988px) {
    .page-main__line-wrapper {
      display: block;
      margin-bottom: 30px; } }
  @media (max-width: 414px) {
    .page-main__line-wrapper {
      margin-bottom: 18px; } }

.page-main__dashboard {
  max-width: 630px;
  margin-right: 25px; }
  @media (max-width: 988px) {
    .page-main__dashboard {
      max-width: inherit;
      margin-right: 0; } }
  @media (max-width: 768px) {
    .page-main__dashboard {
      margin-right: 0; } }

.page-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 65px;
  margin: 0 40px; }
  @media (max-width: 988px) {
    .page-footer {
      margin: 0 20px; } }
  @media (max-width: 988px) {
    .page-footer {
      display: block;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      text-align: center; } }

.page-footer__copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #858585;
  font-size: 12px; }

.modal {
  position: fixed;
  z-index: 400;
  top: 120px;
  left: 50%;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 630px;
  margin-left: -315px; }
  .modal--show {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  @media (max-width: 768px) {
    .modal {
      left: 0;
      width: 100%;
      height: 100%;
      margin: 0;
      padding: 0 20px; } }
  @media (max-width: 414px) {
    .modal {
      top: 20px; } }

.modal__title {
  margin: 0;
  margin-bottom: 5px;
  color: #333;
  font-size: 27px;
  font-weight: bold; }
  @media (max-width: 414px) {
    .modal__title {
      font-size: 18px; } }

.modal__schedule {
  margin: 0;
  margin-bottom: 5px;
  color: #333;
  font-size: 14px; }
  @media (max-width: 414px) {
    .modal__schedule {
      font-size: 12px; } }

.modal__block {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-width: 630px;
  min-height: 290px;
  margin-bottom: 20px;
  padding: 25px;
  border-radius: 20px;
  background-color: #fff; }
  @media (max-width: 768px) {
    .modal__block {
      min-width: 100%; } }
  @media (max-width: 414px) {
    .modal__block {
      -webkit-box-flex: 1;
          -ms-flex-positive: 1;
              flex-grow: 1;
      margin-bottom: 15px; } }

.modal__temperature-mode {
  position: absolute;
  top: 26px;
  right: 68px;
  margin: 0;
  padding: 0;
  font-size: 36px;
  font-weight: bold; }
  .modal__temperature-mode::after {
    position: absolute;
    top: -2px;
    right: -42px;
    display: block;
    width: 42px;
    height: 42px;
    content: '';
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; }
  .modal__temperature-mode--temperature::after {
    background-image: url("/image/icon_temperature_active.svg"); }
  .modal__temperature-mode--sun::after {
    background-image: url("/image/icon_sun.svg"); }
  @media (max-width: 768px) {
    .modal__temperature-mode {
      display: none; } }

.modal__action-filter {
  margin: 16px 0 15px;
  padding: 0 0 10px; }

.modal__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  @media (max-width: 768px) {
    .modal__buttons {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      margin-bottom: 15px; } }

.modal__button {
  width: 307px;
  height: 60px;
  min-height: 60px;
  font-size: 18px;
  font-weight: bold; }
  @media (max-width: 768px) {
    .modal__button {
      width: 100%;
      margin-bottom: 15px; } }
  .modal__button--accept {
    background-color: #ffd93e; }
  .modal__button--accept:hover {
    background-color: #ffcd00; }
  .modal__button--close {
    background-color: #fff; }
  .modal__button--close:hover {
    background-color: #f7f7f7; }

.animated {
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; }

@-webkit-keyframes zoomIn {
  from {
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.1, 0.1, 0.1);
    opacity: 0; }
  50% {
    opacity: 1; } }

@keyframes zoomIn {
  from {
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.1, 0.1, 0.1);
    opacity: 0; }
  50% {
    opacity: 1; } }

.zoomIn {
  -webkit-animation-name: zoomIn;
  animation-name: zoomIn; }

.main-nav {
  font-size: 16px;
  font-weight: bold; }

.main-nav__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  padding: 0;
  list-style: none; }
  @media (max-width: 768px) {
    .main-nav__items {
      position: absolute;
      z-index: 100;
      top: 0;
      left: -20px;
      display: none;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      width: 100vw;
      padding-top: 20px;
      padding-bottom: 20px;
      color: #f7f7f7;
      background-color: #444; } }

.main-nav__item {
  width: 100%; }

.main-nav__link {
  display: block;
  height: 100%;
  padding: 5px 14px;
  text-align: center;
  text-decoration: none;
  color: #858585; }
  .main-nav__link:hover {
    -webkit-transition: color 0.5s;
    transition: color 0.5s;
    color: #c00; }
  .main-nav__link--active {
    color: #333; }
  @media (max-width: 768px) {
    .main-nav__link {
      padding: 10px 30px;
      color: #f7f7f7; }
      .main-nav__link--active {
        color: #858585; } }

.main-nav__toggle {
  position: relative;
  z-index: 200;
  display: none;
  cursor: pointer; }
  .main-nav__toggle::after {
    position: absolute;
    top: -15px;
    left: 0;
    padding: 30px;
    content: ''; }
  @media (max-width: 768px) {
    .main-nav__toggle {
      display: block; } }

.main-nav__icon {
  display: block;
  width: 30px;
  height: 30px;
  background-image: url("/image/icon_menu.svg");
  background-repeat: no-repeat;
  background-position: right;
  background-size: 16px 16px; }

.main-nav input[type=checkbox] {
  display: none; }
  .main-nav input[type=checkbox]:checked ~ .main-nav__items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }

.dashboard {
  -ms-flex-preferred-size: 630px;
      flex-basis: 630px; }
  @media (max-width: 988px) {
    .dashboard {
      -ms-flex-preferred-size: 100%;
          flex-basis: 100%; } }

.dashboard__title {
  margin: 0;
  margin-bottom: 20px;
  font-size: 18px;
  font-weight: bold; }
  @media (max-width: 768px) {
    .dashboard__title {
      display: none; } }

@media (max-width: 988px) {
  .dashboard__summary {
    margin-bottom: 30px; } }

.summary {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 630px;
  min-height: 330px;
  max-height: 330px;
  border-radius: 20px;
  background: wheat;
  background-image: url("/image/bg@1x.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }
  @media (max-width: 988px) {
    .summary {
      display: block;
      width: 100%;
      max-width: 100%; } }
  @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    .summary {
      background-image: url("/image/bg@2x.png"); } }
  @media (max-width: 414px) {
    .summary {
      min-height: 282px;
      max-height: 282px; } }

.summary__now {
  margin: 25px 15px 0 25px; }
  @media (max-width: 414px) {
    .summary__now {
      margin: 20px 15px 0 20px; } }

.summary__title {
  margin: 0;
  margin-bottom: 5px;
  font-size: 27px;
  font-weight: bold; }
  @media (max-width: 414px) {
    .summary__title {
      font-size: 18px; } }

.summary__info {
  margin: 0;
  margin-bottom: 22px;
  color: #333;
  font-size: 14px; }
  @media (max-width: 414px) {
    .summary__info {
      margin-bottom: 18px;
      font-size: 12px; } }

.summary__weather {
  position: relative;
  width: 160px;
  border-collapse: collapse; }
  @media (max-width: 988px) {
    .summary__weather {
      margin-bottom: 20px; } }
  @media (max-width: 414px) {
    .summary__weather {
      width: 140px; } }

.summary__weather-place {
  text-align: left;
  color: #858585;
  font-size: 14px;
  font-weight: 300; }
  @media (max-width: 414px) {
    .summary__weather-place {
      font-size: 12px; } }

.summary__weather-temperature {
  position: relative;
  padding-top: 5px;
  font-size: 36px;
  font-weight: bold; }
  @media (max-width: 414px) {
    .summary__weather-temperature {
      margin-bottom: 20px;
      font-size: 23px; } }
  .summary__weather-temperature--rain::after {
    position: absolute;
    top: 10px;
    right: -14px;
    display: block;
    width: 28px;
    height: 28px;
    content: '';
    background-image: url("/image/icon_rain.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain; }
    @media (max-width: 414px) {
      .summary__weather-temperature--rain::after {
        top: 8px;
        right: 16px;
        width: 20px;
        height: 20px; } }

.summary__cards {
  display: block;
  overflow-x: auto;
  overflow-y: hidden;
  min-width: 200px;
  margin-right: 20px; }
  @media (max-width: 988px) {
    .summary__cards {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-overflow-scrolling: touch;
      margin-right: 0; } }

.summary__card {
  margin-bottom: 15px; }
  @media (max-width: 988px) {
    .summary__card {
      margin-bottom: 0; } }
  .summary__card:first-child {
    margin-top: 20px; }
    @media (max-width: 988px) {
      .summary__card:first-child {
        margin-top: 0;
        margin-left: 20px; } }
  @media (max-width: 988px) {
    .summary__card {
      margin-right: 20px; } }

@media (max-width: 988px) {
  .summary__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; } }

.summary__control {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0; }

.summary__control-button {
  position: absolute;
  z-index: 99;
  display: none;
  width: 200px;
  height: 40px;
  cursor: pointer;
  border: 0;
  background: #f7f7f7 no-repeat center;
  background-size: contain; }
  .summary__control-button--show {
    display: block; }
  @media (max-width: 988px) {
    .summary__control-button {
      display: none; } }
  .summary__control-button::after {
    position: absolute;
    top: 16px;
    right: 96px;
    display: block;
    width: 16px;
    height: 16px;
    content: ''; }
  .summary__control-button--prev {
    top: 0;
    border-radius: 0 0 20px 20px; }
    .summary__control-button--prev::after {
      background-image: url("/image/icon-double-bottom.svg"); }
  .summary__control-button--next {
    bottom: 0;
    border-radius: 20px 20px 0 0; }
    .summary__control-button--next::after {
      background-image: url("/image/icon-double-top.svg"); }

.card-control {
  position: absolute;
  top: 5px;
  right: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 45px; }

.card-control__button {
  position: relative;
  display: block;
  width: 7px;
  height: 14px;
  cursor: pointer;
  border: 0;
  background: rgba(0, 0, 0, 0) no-repeat center;
  background-size: contain; }
  .card-control__button::after {
    position: absolute;
    display: block;
    width: 40px;
    height: 40px;
    content: ''; }
  .card-control__button--next {
    background-image: url("/image/arrow-right.svg"); }
    .card-control__button--next::after {
      margin: -20px 0 0 -10px; }
  .card-control__button--next-active {
    background-image: url("/image/arrow-right-active.svg"); }
  .card-control__button--prev {
    background-image: url("/image/arrow-left.svg"); }
    .card-control__button--prev::after {
      margin: -20px 0 0 -25px; }
  .card-control__button--prev-active {
    background-image: url("/image/arrow-left-active.svg"); }

.card {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 200px;
  min-width: 200px;
  height: 120px;
  padding: 15px;
  cursor: pointer;
  border-radius: 20px;
  background: #f7f7f7; }
  .card:hover {
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    background-color: #fff;
    -webkit-box-shadow: 0 2px 6px 0 rgba(197, 186, 186, 0.5);
            box-shadow: 0 2px 6px 0 rgba(197, 186, 186, 0.5); }
  .card::after {
    position: absolute;
    top: 17px;
    left: 15px;
    display: block;
    width: 24px;
    height: 24px;
    content: '';
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain; }
  .card--scenario {
    height: 100px;
    padding-bottom: 6px; }

.card--sun::after {
  background-image: url("/image/icon_sun.svg"); }

.card--sun.card--active::after {
  background-image: url("/image/icon_sun_active.svg"); }

.card--temperature::after {
  background-image: url("/image/icon_temperature.svg"); }

.card--temperature.card--active::after {
  background-image: url("/image/icon_temperature_active.svg"); }

.card--time::after {
  background-image: url("/image/icon_time.svg"); }

.card__title {
  margin: 0;
  margin-bottom: 5px;
  font-size: 14px;
  font-weight: bold; }

.card__schedule {
  margin: 0;
  color: #858585;
  font-size: 12px; }

.favorite {
  position: relative;
  -ms-flex-preferred-size: 630px;
      flex-basis: 630px;
  min-width: 168px; }
  @media (max-width: 988px) {
    .favorite {
      -ms-flex-preferred-size: auto;
          flex-basis: auto; }
      .favorite::after {
        position: absolute;
        bottom: 0;
        display: block;
        width: 100%;
        height: 10px;
        content: '';
        background-color: #fff; } }

.favorite__header {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px; }
  .favorite__header--scenarios {
    margin-bottom: 14px; }
  @media (max-width: 988px) {
    .favorite__header {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; } }

.favorite__title {
  margin: 0;
  margin-right: 13px;
  font-size: 18px;
  font-weight: bold; }

@media (max-width: 988px) {
  .favorite__card-control {
    display: none; } }

.favorite__filter {
  position: relative;
  top: -5px; }
  @media (max-width: 988px) {
    .favorite__filter {
      overflow-x: auto;
      -webkit-overflow-scrolling: touch;
      padding-top: 10px; } }

.favorite__filter-items {
  margin: 0;
  padding: 0; }

.favorite__scenarios {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 645px;
  max-height: 330px; }
  @media (max-width: 1360px) {
    .favorite__scenarios {
      width: auto; } }
  @media (max-width: 988px) {
    .favorite__scenarios {
      max-height: none; } }
  @media (max-width: 414px) {
    .favorite__scenarios {
      overflow-x: auto;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap; } }

.favorite__devices {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap; }
  @media (max-width: 988px) {
    .favorite__devices {
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; } }
  @media (max-width: 414px) {
    .favorite__devices {
      overflow-x: auto;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap; } }

.favorite__card {
  margin: 0 15px 15px 0; }
  .favorite__card--device:last-child {
    margin-right: 0; }
  .favorite__card--scenario:nth-child(7n), .favorite__card--scenario:nth-child(8n), .favorite__card--scenario:nth-child(9n) {
    margin-bottom: 0; }
  @media (max-width: 988px) {
    .favorite__card--scenario:nth-child(7n), .favorite__card--scenario:nth-child(8n), .favorite__card--scenario:nth-child(9n) {
      margin-bottom: 15px; } }
  @media (max-width: 414px) {
    .favorite__card--scenario:nth-child(2n) {
      margin-right: 15px; } }

.favorite__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  @media (max-width: 988px) {
    .favorite__content {
      overflow-x: auto; } }

.favorite__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 645px; }
  @media (max-width: 988px) {
    .favorite__block {
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
      width: auto; } }

.action-filter {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none; }
  @media (max-width: 768px) {
    .action-filter--mobile {
      -webkit-overflow-scrolling: touch;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
      overflow-x: auto; } }

.action-filter__button {
  display: block;
  font-weight: bold;
  font-size: 13px;
  padding: 8px 15px;
  margin-right: 8px; }
  .action-filter__button:active {
    outline: 1px dotted #858585; }

.action-filter input[type="radio"] {
  display: none; }
  @media (max-width: 414px) {
    .action-filter input[type="radio"]:checked + .action-filter__item {
      -webkit-box-ordinal-group: 0;
          -ms-flex-order: -1;
              order: -1; } }
  .action-filter input[type="radio"]:checked + .action-filter__item .action-filter__button {
    background-color: #ffd93e;
    -webkit-transition: background-color 0.5s;
    transition: background-color 0.5s; }

.footer-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 12px; }
  @media (max-width: 414px) {
    .footer-nav {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; } }

.footer-nav__item {
  padding: 4px 0; }
  @media (max-width: 414px) {
    .footer-nav__item {
      width: 100%;
      padding: 10px 0; } }

.footer-nav__link {
  display: block;
  padding-right: 12px;
  text-decoration: none;
  color: #858585; }
  .footer-nav__link:hover {
    -webkit-transition: color 0.5s;
    transition: color 0.5s;
    color: #333; }
