$full-laptop-width: 1360px;
$laptop-width: 1024px;
$tablet-width: 768px;
$mobile-width: 414px;

$font-family: Arial, Helvetica, sans-serif;

$color-white: #fff;
$color-light-gray: #f7f7f7;
$color-dark-grey: #333;
$color-gray: #858585;

$color-orange: #ffd93e;
$color-dark-orange: #ffcd00;
$color-red: #c00;
