.action-filter {
  display: flex;

  list-style: none;
  padding: 0;

  @media (max-width: $tablet-width) {
    flex-wrap: wrap;
  }
}

.action-filter__buttton {
  font-weight: bold;
  font-size: 13px;

  padding: 8px 15px;
  margin-right: 10px;

  &--active {
    background-color: $color-orange;
  }
}
