.dashboard {
  flex-basis: 630px;

  @media (max-width: $laptop-width) {
    flex-basis: 100%;
  }
}

.dashboard__title {
  margin: 0;
  margin-bottom: 20px;

  font-weight: bold;
  font-size: 18px;

  @media (max-width: $tablet-width) {
    display: none;
  }
}

.dashboard__summary {
  @media (max-width: $laptop-width) {
    margin-bottom: 30px;
  }
}

