.favorite {
  position: relative;

  flex-basis: 630px;
  min-width: 168px;

  @media (max-width: $tablet-width) {
    // for hide mobile horizontal scroll
    &::after {
      content: '';
      position: absolute;
      bottom: 0;

      display: block;

      width: 100%;
      height: 10px;
      background-color: $color-white;
    }
  }
}

.favorite__header {
  display: flex;

  position: relative;

  margin-bottom: 20px;

  &--scenarios {
    margin-bottom: 14px;
  }

  @media (max-width: $laptop-width) {
    flex-direction: column;
  }
}

.favorite__title {
  margin: 0;
  margin-right: 13px;

  font-weight: bold;
  font-size: 18px;
}

.favorite__card-control {
  @media (max-width: $laptop-width) {
    display: none;
  }
}

.favorite__filter {
  position: relative;
  top: -5px;

  @media (max-width: $tablet-width) {
    padding-top: 10px;
    overflow-x: auto;

    -webkit-overflow-scrolling: touch;
  }
}

.favorite__filter-items {
  padding: 0;
  margin: 0;
}

.favorite__scenarios {
  position: relative;
  display: flex;
  flex-wrap: wrap;

  max-height: 330px;
  width: 645px;
  overflow: hidden;

  //scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;

  @media (max-width: $full-laptop-width) {
    width: auto;
  }

  @media (max-width: $laptop-width) {
    max-height: none;
  }

  @media (max-width: $mobile-width) {
    flex-wrap: nowrap;
    overflow-x: auto;
  }
}

.favorite__devices {
  display: flex;
  flex-wrap: nowrap;

  overflow: hidden;

  //scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;

  @media (max-width: $laptop-width) {
    flex-wrap: wrap;
  }

  @media (max-width: $mobile-width) {
    flex-wrap: nowrap;
    overflow-x: auto;
    //overflow: hidden;
  }
}

.favorite__card {
  margin: 0 15px 15px 0;

  &--device {
    &:last-child {
      margin-right: 0;
    }
  }

  &--scenario {
    &:nth-child(7n),
    &:nth-child(8n),
    &:nth-child(9n) {
      margin-bottom: 0px;
    }

    @media (max-width: $mobile-width) {
      &:nth-child(2n) {
        margin-right: 15px;
      }
    }
  }
}

.favorite__content {
  display: flex;
  //
  //&--scenario {
  //  flex-grow: 1;
  //  flex-direction: column;
  //  flex-wrap: wrap;
  //
  //  align-content: flex-start;
  //}
}

.favorite__block {
  display: flex;
  flex-wrap: wrap;

  width: 645px;

  align-content: flex-start;
}
