.modal {
  display: none;
  flex-direction: column;
  position: fixed;

  top: 120px;
  left: 50%;

  width: 630px;
  height: 100%;

  margin-left: -315px;

  &--show {
    display: flex;
  }

  @media (max-width: $tablet-width) {
    padding: 0 20px;
    width: 100%;

    margin: 0;
    left: 0;
  }

  @media (max-width: $mobile-width) {
    top: 20px;
  }
}

.modal__title {
  margin: 0;
  margin-bottom: 5px;

  font-weight: bold;
  font-size: 27px;

  @media (max-width: $mobile-width) {
    font-size: 18px;
  }
}

.modal__schedule {
  font-size: 14px;
  color: $color-dark-grey;

  @media (max-width: $mobile-width) {
    font-size: 12px;
  }
}

.modal__block {
  min-height: 238px;
  min-width: 630px;

  margin-bottom: 20px;
  padding: 25px;

  background-color: $color-white;
  border-radius: 20px;

  @media (max-width: $tablet-width) {
    min-width: 100%;
  }

  @media (max-width: $mobile-width) {
    flex-grow: 1;
    margin-bottom: 15px;
  }
}

.modal__buttons {
  display: flex;
  justify-content: space-between;

  @media (max-width: $tablet-width) {
    flex-direction: column;
    margin-bottom: 15px;
  }
}

.modal__button {
  width: 307px;
  height: 60px;

  font-size: 18px;
  font-weight: bold;

  @media (max-width: $tablet-width) {
    width: 100%;
    margin-bottom: 15px;
  }

  &--accept {
    background-color: $color-orange;
  }

  &--accept:hover {
    background-color: $color-dark-orange;
  }

  &--close {
    background-color: $color-white;
  }

  &--close:hover {
    background-color: $color-light-gray;
  }
}
