.page-main {
  display: flex;
  flex-direction: column;

  flex-grow: 1;

  margin: 30px 40px;
  margin-bottom: 0;
}

.page-main__line-wrapper {
  display: flex;

  margin-bottom: 30px;
}

.page-main__dashboard {
  max-width: 630px;
  margin-right: 25px;
}

