.page-main {
  display: flex;
  flex-direction: column;

  flex-grow: 1;

  margin: 30px 40px;
  margin-bottom: 0;

  @media (max-width: $tablet-width) {
    margin: 92px 20px 25px 20px;
  }

  @media (max-width: $mobile-width) {
    margin: 68px 20px 0 20px;
  }
}

.page-main__line-wrapper {
  display: flex;
  min-height: 370px;
  margin-bottom: 36px;

  @media (max-width: $laptop-width) {
    display: block;

    margin-bottom: 30px;
  }

  @media (max-width: $mobile-width) {
    margin-bottom: 18px;
  }
}

.page-main__dashboard {
  max-width: 630px;
  margin-right: 25px;

  @media (max-width: $tablet-width) {
    margin-right: 0;
  }
}

.page-main__favorite {
  @media (max-width: $laptop-width) {
    max-width: 630px;
  }
}

