$color-temperature: linear-gradient(90deg, #068fff 2%, #ffd800 51%, #f76b1c 100%);
$color-temperature-v: linear-gradient(0deg, #068fff 2%, #ffd800 51%, #f76b1c 100%);
$color-sun: linear-gradient(85deg, #ffe682 2%, #ff9e00 98%);
$color-sun-v: linear-gradient(0deg, #ffe682 2%, #ff9e00 98%);

.slider-toggle {
  display: flex;
  flex-direction: column;

  @media (max-width: $mobile-width) {
    align-items: center;
    flex-grow: 1;
  }
}

.slider-toggle__field {
  position: relative;

  display: flex;
  flex-grow: 1;

  height: 60px;

  border-radius: 30px;

  &--temperature {
    background-image: $color-temperature;

    @media (max-width: $mobile-width) {
      background-image: $color-temperature-v;
    }
  }

  &--sun {
    background-image: $color-sun;

    @media (max-width: $mobile-width) {
      background-image: $color-sun-v;
    }
  }

  @media (max-width: $mobile-width) {
    width: 60px;
    height: 100%;
  }
}

.slider-toggle__control {
  position: absolute;
  bottom: -4px;
  left: 0;

  width: 68px;
  height: 68px;

  cursor: pointer;

  border: 4px solid $color-white;
  border-radius: 50%;

  @media (max-width: $mobile-width) {
    left: -4px;
  }

  &::before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    display: block;

    content: '';

    border: 3px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    background: none;
  }
}

.slider-toggle__range {
  display: flex;
  align-items: center;
  flex-grow: 1;
  justify-content: space-between;

  color: $color-white;

  font-size: 18px;
  font-weight: bold;

  @media (max-width: $mobile-width) {
    flex-direction: column-reverse;
  }
}

.slider-toggle__range-value {
  user-select: none;

  background-repeat: no-repeat;
  background-position: center;
  background-size: 36px 36px;

  line-height: 36px;

  &--min {
    position: relative;
    top: 6px;
    left: 12px;

    display: block;

    width: 46px;
    height: 46px;
    //background-position: 12px 6px;

    @media (max-width: $mobile-width) {
      top: 0;
      left: 6px;
    }
  }

  &--max {
    position: relative;
    top: 6px;

    display: block;

    width: 46px;
    height: 46px;

    @media (max-width: $mobile-width) {
      top: 12px;
      left: 6px;
    }
  }

  &--dark {
    top: 0;

    background-image: url("/image/icon_sun_min.svg");

    @media (max-width: $mobile-width) {
      top: -6px;
      left: 0;
    }
  }

  &--light {
    top: 0;
    right: 12px;

    background-image: url("/image/icon_sun_max.svg");

    @media (max-width: $mobile-width) {
      top: 6px;
      right: 0;
      left: 0;
    }
  }
}

.slider-toggle__input {
  cursor: pointer;
}
// for reset default input range


input[type=range] {
  position: absolute;
  top: 0;
  overflow: visible;

  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  color: transparent;
  border: 0 none;
  background: transparent;

  -webkit-appearance: none;
}

@media (max-width: $mobile-width) {
  input[type=range].slider-toggle__input {
    opacity: 0.01; /* needed to hide the default slider-vertical appearance */

    -webkit-appearance: slider-vertical;
    writing-mode: bt-lr; /* IE */
  }
}

/* microsoft IE10+ and Edge - eliminates default fills before and after thumb */
input[type=range]::-ms-fill-lower {
  border: 0 none;
  background: transparent;
}

input[type=range]::-ms-fill-upper {
  border: 0 none;
  background: transparent;
}

input[type=range]::-ms-tooltip {
  display: none;
}

input[type=range]::-ms-track {
  overflow: visible;

  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  color: transparent;
  border: 0 none;
  background: transparent;

  -webkit-appearance: none;
}

input[type=range]::-moz-range-track {
  overflow: visible;

  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  color: transparent;
  border: 0 none;
  background: transparent;

  -moz-appearance: none;
}

input[type=range]::-ms-thumb {
  width: 40px;
  height: 40px;
  border: 0 none;
  border-radius: 0;
  background: transparent;
}

input[type=range]::-moz-range-thumb {
  width: 40px;
  height: 40px;
  border: 0 none;
  border-radius: 0;
  background: transparent;
}

input[type=range]::-webkit-slider-thumb {
  width: 40px;
  height: 40px;
  border: 0 none;
  border-radius: 0;
  background: transparent;
  -webkit-appearance: none;
}

input[type=range]:focus {
  outline: none;
}

input[type=range]:focus::-webkit-slider-runnable-track {
  border: transparent;
  background: transparent;
}
