.summary {
  position: relative;

  display: flex;
  overflow: hidden;
  justify-content: space-between;

  width: 630px;
  min-height: 330px;
  max-height: 330px;

  border-radius: 20px;
  background: wheat;
  background-image: url("/image/bg@1x.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @media (max-width: $laptop-width) {
    display: block;

    width: 100%;
    max-width: 100%;
  }

  @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    background-image: url("/image/bg@2x.png");
  }

  @media (max-width: $mobile-width) {
    min-height: 282px;
    max-height: 282px;
  }
}

.summary__now {
  margin: 25px 15px 0 25px;

  @media (max-width: $mobile-width) {
    margin: 20px 15px 0 20px;
  }
}

.summary__title {
  margin: 0;
  margin-bottom: 5px;

  font-size: 27px;
  font-weight: bold;

  @media (max-width: $mobile-width) {
    font-size: 18px;
  }
}

.summary__info {
  margin: 0;
  margin-bottom: 22px;

  color: $color-dark-grey;

  font-size: 14px;

  @media (max-width: $mobile-width) {
    margin-bottom: 18px;

    font-size: 12px;
  }
}

.summary__weather {
  position: relative;

  width: 160px;

  border-collapse: collapse;

  @media (max-width: $laptop-width) {
    margin-bottom: 20px;
  }

  @media (max-width: $mobile-width) {
    width: 140px;
  }
}

.summary__weather-place {
  text-align: left;

  color: $color-gray;

  font-size: 14px;
  font-weight: 300;

  @media (max-width: $mobile-width) {
    font-size: 12px;
  }
}

.summary__weather-temperature {
  position: relative;

  padding-top: 5px;

  font-size: 36px;
  font-weight: bold;

  @media (max-width: $mobile-width) {
    margin-bottom: 20px;

    font-size: 23px;
  }

  &--rain::after {
    position: absolute;
    top: 10px;
    right: -14px;

    display: block;

    width: 28px;
    height: 28px;

    content: '';

    background-image: url("/image/icon_rain.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

    @media (max-width: $mobile-width) {
      top: 8px;
      right: 16px;

      width: 20px;
      height: 20px;
    }
  }
}

.summary__cards {
  display: block;
  overflow-x: auto;
  overflow-y: hidden;

  min-width: 200px;
  margin-right: 20px;

  @media (max-width: $laptop-width) {
    display: flex;
    -webkit-overflow-scrolling: touch;

    margin-right: 0;
  }
}

.summary__card {
  margin-bottom: 15px;

  @media (max-width: $laptop-width) {
    margin-bottom: 0;
  }

  &:first-child {
    margin-top: 20px;

    @media (max-width: $laptop-width) {
      margin-top: 0;
      margin-left: 20px;
    }
  }

  @media (max-width: $laptop-width) {
    margin-right: 20px;
  }
}

.summary__content {
  @media (max-width: $laptop-width) {
    display: flex;
  }
}

.summary__control {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.summary__control-button {
  position: absolute;
  z-index: 99;

  display: none;

  width: 200px;
  height: 40px;

  cursor: pointer;

  border: 0;
  background: $color-light-gray no-repeat center;
  background-size: contain;

  &--show {
    display: block;
  }

  @media (max-width: $laptop-width) {
    display: none;
  }

  &::after {
    position: absolute;
    top: 16px;
    right: 96px;

    display: block;

    width: 16px;
    height: 16px;

    content: '';
  }

  &--prev {
    top: 0;

    border-radius: 0 0 20px 20px;

    &::after {
      background-image: url("/image/icon-double-bottom.svg");
    }
  }

  &--next {
    bottom: 0;

    border-radius: 20px 20px 0 0;

    &::after {
      background-image: url("/image/icon-double-top.svg");
    }
  }
}
