.summary {
  position: relative;
  display: flex;
  justify-content: space-between;

  width: 630px;
  min-height: 330px;
  max-height: 330px;

  background: wheat;
  background-image: url("/image/bg@1x.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 20px;

  overflow: hidden;

  @media (max-width: $tablet-width) {
    display: block;
    width: 100%;
    max-width: 100%;
  }

  @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    background-image: url("/image/bg@2x.png");
  }

  @media (max-width: $mobile-width) {
    min-height: 282px;
    max-height: 282px;
  }
}

.summary__now {
  margin: 25px 15px 0 25px;

  @media (max-width: $mobile-width) {
    margin: 20px 15px 0 20px;
  }
}

.summary__title {
  font-weight: bold;
  font-size: 27px;

  margin: 0;
  margin-bottom: 5px;

  @media (max-width: $mobile-width) {
    font-size: 18px;
  }
}

.summary__info {
  margin: 0;
  margin-bottom: 22px;

  color: $color-dark-grey;
  font-size: 14px;

  @media (max-width: $mobile-width) {
    font-size: 12px;
    margin-bottom: 18px;
  }
}

.summary__weather {
  border-collapse: collapse;
  position: relative;
  width: 160px;

  @media (max-width: $tablet-width) {
    margin-bottom: 20px;
  }

  @media (max-width: $mobile-width) {
    width: 140px;
  }
}

.summary__weather-place {
  text-align: left;
  font-size: 14px;
  font-weight: 300;

  color: $color-gray;

  @media (max-width: $mobile-width) {
    font-size: 12px;
  }
}

.summary__weather-temperature {
  position: relative;

  font-weight: bold;
  font-size: 36px;

  padding-top: 5px;

  @media (max-width: $mobile-width) {
    margin-bottom: 20px;

    font-size: 23px;
  }

  &--rain::after {
    content: '';

    display: block;

    position: absolute;
    right: -14px;
    top: 10px;

    width: 28px;
    height: 28px;

    background-image: url("/image/icon_rain.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    @media (max-width: $mobile-width) {
      right: 16px;
      top: 8px;

      width: 20px;
      height: 20px;
    }
  }
}

.summary__cards {
  display: block;

  margin-right: 20px;

  overflow-x: auto;
  overflow-y: hidden;

  @media (max-width: $tablet-width) {
    display: flex;
    margin-right: 0;

    -webkit-overflow-scrolling: touch;
  }
}

.summary__card {
  margin-bottom: 15px;

  &:first-child {
    margin-top: 20px;

    @media (max-width: $tablet-width) {
      margin-top: 0;
    }

    @media (max-width: $tablet-width) {
      margin-left: 20px;
    }
  }

  @media (max-width: $tablet-width) {
    margin-right: 20px;
  }
}

.summary__control {
  position: absolute;

  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.summary__control-button {
  position: absolute;

  display: block;

  width: 200px;
  height: 40px;

  background: $color-light-gray no-repeat center;
  background-size: contain;
  border: 0;

  z-index: 99;

  cursor: pointer;

  &::after {
    content: '';
    position: absolute;
    right: 96px;
    top: 16px;
    display: block;

    width: 16px;
    height: 16px;

  }

  &--prev {
    top: 0;
    border-radius: 0 0 20px 20px;
    &::after {
      background-image: url("/image/icon-double-bottom.svg");
    }
  }


  &--next {
    bottom: 0;
    border-radius: 20px 20px 0 0;

    &::after {
      background-image: url("/image/icon-double-top.svg");
    }
  }

}
